body {
    margin: 0;
    padding: 0;
    font-family: 'franklin-gothic-urw', sans-serif;
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.slider-container {
    position: absolute;
    top: 3%;
    left: 5%;
    width: 25%;
    font-family: 'franklin-gothic-urw', sans-serif;
    z-index: 1;
    text-align: left;
    padding: 10px;
}

@media (max-width: 1024px) {
    .slider-container {
        position: absolute;
        left: 2.5%;
        right: 2.5%;
        width: 50%;
        top: 0;
    }
}


@media (max-width: 768px) {
    .slider-container {
        position: absolute;
        left: 2.5%;
        right: 2.5%;
        width: 95%;
    }
}

.slider-container h1 {
    font-size: 34px;
    margin-bottom: 30px;
    color: #000;
}


@media (max-width: 1024px) {
    .slider-container h1 {
        font-size: 32px;
        color: #000;
        margin: 0;
    }
}

#mapInset { 
    height: 180px;
    width: 100%;  /* Set width to fill the parent container */
    max-width: 100%;  /* Ensure it doesn't exceed parent width */
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
    cursor: none;
    border: solid 0.5px #ccc;
    margin-bottom: 8px;
}

#mapInset .mapboxgl-ctrl-logo {
    display: none !important;
}

@media (max-width: 426px) {
    #mapInset {
        display: none;
    }
}

h2 {
    font-weight: 100;
    font-size: 24px;
    color: rgb(77, 77, 77);
    text-align: left;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}

#dateDisplay {
    font-weight: bold;
    font-size: 28px;
    letter-spacing: normal;
    color: #000;
    display:inline; 
    text-transform: capitalize;
}

h2#dateh2 {
    display: inline;
    font-weight: 100;
    font-size: 24px;
    color: rgb(77, 77, 77);
    text-align: left;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}

a#reportlink {
    color: #165C7D;
}

.slider-container label {
    font-size: 14px;
    font-weight: normal;
    display: block;
    margin-bottom: 5px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 65%;
    height: 10px;
    background: transparent;
    outline: none;
    opacity: 1.0;
    transition: opacity .2s;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 12px;
    background: linear-gradient(to right, #fff 0%, #fff var(--thumb-percentage, 0%), #d5d1cc var(--thumb-percentage, 0%));
    border: 1px solid #000;
    border-radius: 6px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
    transition: background 0.3s, border-color 0.3s;
    animation: flicker 1.5s ease-in-out 3;
    transform: translateZ(0);
}

img#img-margin-adjust {
    margin-top: 30px;
}

@keyframes flicker {

    0%,
    100% {
        background-color: #fff;
        border-color: #000;
    }

    50% {
        background-color: #473729;
        border-color: #473729;
    }
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #473729;
    border-color: #fff;
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 1);
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s, border-color 0.3s;
    animation: flicker 1.5s ease-in-out 3;
}

input[type="range"]::-moz-range-thumb:hover {
    background: #473729;
    border-color: #473729;
}

input[type="range"]::-moz-range-track {
    height: 12px;
    background: linear-gradient(to right, #fff 0%, #fff var(--thumb-percentage, 0%), #d5d1cc var(--thumb-percentage, 0%));
    border: 1px solid #000;
    border-radius: 6px;
}

@media (max-width: 1024px) {
    .mapboxgl-ctrl-top-right .mapboxgl-ctrl {
        display: none;
    }
}

.legend {
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 15px;
    position: absolute;
    right: 40px;
    width: 350px;
    font-family: 'franklin-gothic-urw', sans-serif;
    z-index: 1;
}

/* @media (max-width: 1024px) {
    .legend {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 60px;
        width: 100%;
        max-width: none;
        padding: 5%;
        transform: none;
        overflow: hidden;
    }
} */

.legend h2 {
    font-size: 20px;
    margin: 0 0 8px;
    color: #333;
    text-align: left;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.legend p {
    margin: 0;
    font-size: 22px;
}

.legend i {
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 15px;
    margin-top: 7px;
}

#size-adjust {
    height: 9px;
    width: 9px;
}

.legend div {
    clear: both;
}

.legend .color-box {
    float: left;
    width: 12px;
    height: 12px;
    margin: 5px 8px 5px 0;
}

.legend h4 {
    text-align: left;
    margin-top: 0;
}

.info-icon {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background: none;
    color: #717c7d;
    border: solid 1px #717c7d;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out,
    transform 0.3s ease-in-out;
    cursor: pointer;
}

.info-icon:hover {
    background-color: #484f4f;
    color: #fff;
}

.flex-container {
    display: flex;       
    align-items: center; 
}

#morebox {
    margin-left: 12px;   
    display: flex;       
    align-items: center; 
}

#more-info-text {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 4px;
    color: #717c7d;
}

.modal {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .7);
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.modal-content p {
    margin-bottom: 10px;
    font-family: 'franklin-gothic-urw', sans-serif;
}

.modal.show {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.3s linear;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}