body {
    margin: 0;
    padding: 0;
    font-family: 'franklin-gothic-urw', sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.legend {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 15px;
    position: absolute;
    right: 10px;
    width: auto;
    font-family: 'franklin-gothic-urw', sans-serif;
    z-index: 1;
}

.legend p {
    margin: 0;
}

.legend-header {
    font-size: 18px;
    margin-bottom: 8px;
    color: #333;
    text-align: left;
    font-weight: bold;
}

.legend i {
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    width: 12px;
    float: left;
    margin-right: 5px;
    margin-top: 6px;
}

.legend div {
    clear: both;
}

.legend .color-box {
    float: left;
    width: 12px;
    height: 12px;
    margin: 5px 8px 5px 0;
}

.legend h4 {
    text-align: left;
    margin-top: 0;
}

.circle-container {
    display: flex;
    align-items: center;
    width: 100%;
}

#margin-balance {
    margin-bottom: 10px;
}

.alignment-div {
    position: relative;
    height: 50px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    position: absolute;
}

.circle span {
    display: block;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #473729;
}

.label {
    position: absolute;
    left: 100%;
    white-space: nowrap;
    margin-left: 20px;
    align-self: center;
}