body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#link {
    color: #fff;
}

a {
    color: #fff;
}

@media (max-width: 768px) {
    .mapboxgl-ctrl-geocoder {
        width: 80% !important;
    }
}

@media (max-width: 320px) {
    .mapboxgl-ctrl-geocoder {
        width: 40% !important;
        min-width: 210px !important;
    }
}

h1 {
    font-family: "franklin-gothic-urw", sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 94px;
    padding: 0 0 0 10%;
    margin: 0;
    text-align: left;
    letter-spacing: .01em;
    width: 100%;
}

@media (max-width: 1920px) {
    h1 {
        font-size: 64px;
        line-height: 60px;
    }
}

@media (max-width: 1440px) {
    h1 {
        font-size: 72px;
        line-height: 60px;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 54px;
        line-height: 50px;
    }
}

@media (max-width: 768px) {
    h1 {
        display: none;
    }
}

h2 {
    font-family: 'franklin-gothic-urw', sans-serif;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    background-color: #a4343a;
    padding: 15px;
    margin: 0;
}

@keyframes fadeInAnimation {
    from { opacity: 0; }
    to { opacity: 1; }
  }

#locationInfo {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(255, 255, 255, 0.8);
    font-family: 'franklin-gothic-urw', sans-serif;
    font-weight: 500;
    font-size: 18px; 
    line-height: 24px;
    opacity: 0;
    animation: fadeInAnimation 2s forwards;  
    border-bottom-right-radius: 30px
}

#locationDescription {
    padding: 5px 20px 5px 20px;
}

@media (max-width: 768px) {
    #locationInfo {
        left: 0;
        width: 400px;
    }
}

#startAnimationButton {
    width: 375px;
    max-width: 100%;
    z-index: 1;
    opacity: 1;
    cursor: pointer;
    font-family: "franklin-gothic-urw-cond", sans-serif;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    background: none;
    border: solid 1px #ccc;
    border-radius: 15px;
    color: #fff;
    padding: 10px 12px 10px 12px;
    margin: 0 0 30px 10%;
    text-transform: uppercase;
    letter-spacing: .2em;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

#startAnimationButton:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Adds a slight white overlay */
    border-color: #eee; /* Lightens the border color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow for depth */
}


#loading {
	top: 0;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 0;
	background: #000;
	opacity: .9;
	transition: opacity 1s ease-out;
	pointer-events: none;
}

#mapInset {
    top: 25px;
    right: 25px;
    height: 180px;
    width: 250px;
    max-width:100%;
    position: fixed;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
    cursor: none;
    border: solid .5px #ccc;
}

#mapInset .mapboxgl-ctrl-bottom-left{
    display: none;
}
@media (max-width: 500px) {
    #mapInset {
        display: none;
    }
}

.color-line {
    display: flex;
    height: 20px; /* Adjust the height as needed */
    width: 100%; /* Set the line width */
  }

  .color-part {
    flex: 1;
    height: 100%;
    font-weight: 700;
    text-align: center;
  }

  .color-part:nth-child(1) {
    background-color: #f3bb91;
    color: #be4500;
  }

  .color-part:nth-child(2) {
    background-color: #e87722;
    color: #fff;
  }

  .color-part:nth-child(3) {
    background-color: #be4500;
    color: #f3bb91;
  }

  #toggleButton {
    border-radius: 10px;
    font-family: 'franklin-gothic-urw';
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
    background-color: #383d44;
    color: #fff;
    margin-top: 30px;
}

.box {
    background: none;
    position: absolute;
    bottom: 40px;
    left: 0;
    z-index: 1;
    color: #fff;
    width: 50%;
}

@media (max-width: 768px) {
    .box {
        bottom: 0;
        position: fixed;
        top: auto;
        left: auto;
        width: 100%;
        border-radius: 0;
    }
}

ul {
    list-style-type: square;
}

#legend div span {
    display: inline-block;
    height: 10px;
    width: 30px;
    margin-right: 5px;
}

.mapboxgl-popup-content {
    position: relative;
    background: #111923;
    border-radius: 30px;
    border: solid .75px #fff;
    box-shadow: 0 1px 30px rgb(0 0 0 / 25%);
    padding: 20px;
    cursor: pointer;
    color: #ffffff;
    width: 300px;
}

.mapboxgl-popup-close-button {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
    background: #BAD879;
    float: right;
    margin: -25px;
    color: white;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    align-self: center;
    border-bottom: none;
    border-top-color: #fff;
}

.threat-vectors {
    font-family: 'franklin-gothic-urw', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    width: auto;
}

#legend {
    list-style-type: none;
    padding-left: 0;
}